@font-face {
    font-family: "Open Sans";
    src: url(/static/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open sans", sans-serif;
    font-size: 1rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    padding: 16px;
}

.card {
    padding-inline: 16px;
    padding-block: 32px;
    border-radius: 24px;
    box-shadow: 0px 0px 20px 2px rgb(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 100%;
    max-width: 420px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid #d9d9d9;
}

header .logo {
    font-size: 2rem;
    font-weight: 500;
    color: blue;
}

header .tagline {
    font-size: 0.85rem;
    color: #333333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-block: 15px;
}

input {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-block: 5px;
    display: block;
    border-radius: 4px;
    border: 1px solid #4d4d4d;
    outline: none;
    transition: 0.1;
}

input:focus {
    border-color: blue;
}

.url-label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: -5px;
}

.password-label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: -5px;
}

.action-btn {
    cursor: pointer;
    padding-block: 0.8rem;
    width: 100%;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    border-radius: 8px;
    border: none;
    background-color: blue;
    color: #f2f2f2;
    transition: 0.3s;
}

.action-btn:hover {
    background-color: hsl(240, 100%, 40%);
    color: #ffffff;
}

.password-message {
    display: block;
    margin-top: -2px;
    margin-bottom: -5px;
    font-size: 0.82rem;
    color: white;
}

.url-message {
    display: block;
    margin-top: -2px;
    margin-bottom: -5px;
    font-size: 0.82rem;
    color: white;
}

.message-popup {
    padding: 24px 16px;
    background-color: white;
    max-width: 320px;
    border-radius: 16px;
    position: absolute;
    z-index: 2;

    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active {
    top: 50%;
}

.message-popup h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;

    border-bottom: 1px solid #d9d9d9;
}

.url-container {
    background-color: #e0e0e0;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-block: 16px;
    cursor: default;
}

.copy-btn {
    cursor: pointer;
    padding-block: 0.8rem;
    width: 100%;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    border-radius: 8px;
    border: none;
    background-color: blue;
    color: #f2f2f2;
    transition: 0.3s;
}

.copy-btn:hover {
    background-color: hsl(240, 100%, 40%);
    color: #ffffff;
}

.url-container .url {
    text-decoration: underline;
}

.overlay {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
}

.overlay-active {
    display: block;
}
