<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Not found</title>

        <style>
            @font-face {
                font-family: "Open sans";
                src: url(/static/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
            }

            body {
                font-family: "Open sans", sans-serif;
            }
        </style>  
    </head>  
        
    <body>
        
    </head>
        <h1>Not Found</h1>
        <p>This url either does not exist or has expired</p>
    </body>
</html>
