<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Long</title>
    </head>
    <body>
        <header>
            <p>Long</p>
            <span>A url shortener for long links</span>
        </header>
        <main>
            <input type="text" id="url" placeholder="Paste url" />
            <input type="text" id="password" placeholder="Password" />
            <button class="js-button">Shorten url</button>
        </main>
        <footer>a foot</footer>

        <script src="/static/app.js"></script>
    </body>
</html>
